.container {
    border: 1px solid #7b7b7b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 80%; 
    margin: 0 auto; 
    max-width: 1200px;
    margin-top: 20px;
    margin-bottom: 50px; 
    font-family: 'Chalkduster', fantasy;
}

.characterCard {
    position: relative;
    padding-bottom: 100%; 
    overflow: hidden;
    transition: transform 0.3s; 
}

.characterCard:hover {
    transform: scale(1.05); /* Enlarge the image slightly on hover */
}

.characterImage {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.characterName {
    text-align: center;
    margin-top: 15px;
}

.title {
    text-align: center;
    font-size: 2em; 
    margin-bottom: 20px;
}

/* Responsive Grid */
@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }

    /* Single column layout */
    .gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (min-width: 901px) {
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}